.reachArea{
    border-radius: 50%;
    background-color: rgba(200,30,170, 0.7);
    align-content:center;
    width:fit-content;
    height: fit-content;
    box-sizing: content-box;
}
.physicalSquare{
    transform: rotate(30deg);
    background-color: rgba(200,30,170, 0.7);
}